<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Node routes</title>
		<!-- <link rel="stylesheet" href="/styles/styles.css"> -->
		<style>
			.header {
  			height: 80px;
			}

			.nav__list {
  			list-style: none;
  			display: flex;
  			justify-content: center;
			}
		</style>
	<body>
		<header class="header">
			<nav class="nav">
				<ul class="nav__list">
					{%NAVIGATION%}
				</ul>
			</nav>
		</header>
	</body>
</html>
